name: my_ai_test
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  fake_library_xyz: ^9.9.9  # Ye library exist nahi karti, 'pub get' fail hoga
